body {
  display: flex;
}

.barchart {
  height: 100vh;
  width: 50vw;
  padding-left: 5%;
}

.piechart {
  padding-top: 5%;
  height: 100vh;
}

.grid path {
  stroke-width: 1;
}

.grid .tick line {
  stroke: #9faaae;
  stroke-opacity: 0.5;
}

#inds {
  position: absolute;
  left: 2%;
}
